.list-perso-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	margin: 25px;

	h1,
	h2 {
		padding: 3px;
		margin: 5px;
		color: rgb(49, 48, 48);
	}

	.perso-detail-wrapper {
		display: flex;
		flex-direction: column;
		margin: 20px;
		padding: 60px 5px 15px 0;
		background-color: rgba(240, 255, 255, 0.863);
		width: 34rem;
		border-radius: 9px;
		align-items: center;

		.perso-detail-image {
			width: 60%;
		}

		.linkto-perso-detail {
			text-decoration: none;
			color: rgb(54, 52, 52);
			font-weight: 500;
			margin: 10px;
		}
		.linkto-perso-detail:hover {
			color: rgb(24, 81, 114);
		}
	}
	.perso-detail-wrapper:hover {
		box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
			rgba(126, 124, 124, 0.15) 0px -36px 30px 0px inset,
			rgba(90, 89, 89, 0.1) 0px -79px 40px 0px inset,
			rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(95, 94, 94, 0.09) 0px 4px 2px,
			rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(63, 62, 62, 0.09) 0px 16px 8px,
			rgba(0, 0, 0, 0.09) 0px 32px 16px;
	}
}

.button-filter-race {
	width: 20rem;
	margin-left: 46px;
	height: 40px;
	border: none;
	background-color: #ffffffc4;
	border-radius: 8px;
	font-size: 1.2em;
	padding: 0 5px 0 5px;
}

@media only screen and (max-width: 810px) {
	.list-perso-wrapper {
		display: flex;
		flex-direction: column;

		.perso-detail-wrapper {
			width: 90%;

			.perso-detail-image {
				width: 85%;
			}
		}
	}
	.button-filter-race {
		width: 15em;
		padding: 5px;
		height: 70px;
		margin: 0 auto;
	}
	.button-filter-race:active {
		background-color: rgba(202, 240, 247, 0.712);
	}
}

@media only screen and (max-width: 480px) {
	.list-perso-wrapper {
		display: flex;
		flex-direction: column;

		.perso-detail-wrapper {
			width: 90%;

			.perso-detail-image {
				width: 80%;
			}
		}
	}
	.button-filter-race {
		width: 15em;
		padding: 5px;
		height: 70px;
		margin: 0 auto;
	}
	.button-filter-race:active {
		background-color: rgba(202, 240, 247, 0.712);
	}
}
